body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(to right,#4facfe,#00f2fe);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  display:flex;
  gap:40px;
}

.box{
  background:white;
  padding:30px;
  border-radius:10px;
  text-align:center;
  width:250px;
}

input{
  width:100%;
  padding:8px;
  margin:8px 0;
}

button{
  width:100%;
  padding:8px;
  background:#4facfe;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}